$colorPrimary: #f00;
$colorSecondary: #399;
$colorGray1: #111;
$colorGray2: #222;
$colorGray3: #333;
$colorGray6: #666;
$colorBgProdCard: #f7f7f8;

$colorOp1: #c9bfae;
$colorOp2: #a393b5;
$colorOp3: #ec978c;

$bgColor1: #f6f6f6;

$grid: 12;
$grid-container-width: 1200px;
$grid-container-gap: 28px;
$grid-col-gap: 28px;
